<nav class="navbar bg-dark border-bottom border-body registration-navbar" data-bs-theme="dark">
    <span class="fletnix-logo" (click)="gotoHome()">FletNix</span>
</nav>
<div class="registration-wrapper">
    <div class="registration-background d-flex j-center a-center">

    </div>
    <div class="banner-text d-flex">
        <h1 class="f-inter">Unlimited movies, TV shows and more</h1>
        <h3 class="f-inter">Ready to watch? Create an account or Login to enjoy.</h3>
        <div class="d-flex j-center a-center">
            <button class="f-inter" (click)="registrationFn('register')">Register</button>
            <button class="f-inter" (click)="registrationFn('login')">Login</button>
        </div>
    </div>
</div>