<nav class="navbar bg-dark border-bottom border-body registration-navbar" data-bs-theme="dark">
    <span class="fletnix-logo" (click)="gotoHome()">FletNix</span>
</nav>

<div class="registration-wrapper">
    <div class="registration-background d-flex j-center a-center">

        <div class="registration-form-wrapper">
            <h2 class="f-inter sign-in">{{ isSignUpMode || user_type == true ? 'Sign Up' : 'Login' }}</h2>

            <!-- Sign Up Form -->
            <form *ngIf="isSignUpMode" [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
                <div class="form-group">
                    <div class="floating-label-group">
                        <input class="f-inter" id="signup-email" type="email" formControlName="email" required>
                        <label class="f-inter" for="signup-email">Email</label>
                    </div>
                    <div class="error" *ngIf="signUpForm.get('email')?.touched && signUpForm.get('email')?.invalid">
                        <small class="f-inter" *ngIf="signUpForm.get('email')?.errors?.['required']">Email is
                            required.</small>
                        <small class="f-inter" *ngIf="signUpForm.get('email')?.errors?.['email']">Enter a valid
                            email.</small>
                    </div>
                </div>

                <div class="form-group">
                    <div class="floating-label-group">
                        <input class="f-inter" id="signup-password" [type]="!hidePassword ? 'text' : 'password'"
                            formControlName="password" required>
                        <label class="f-inter" for="signup-password">Password</label>
                        <span class="toggle-password" (click)="togglePasswordVisibility()">
                            <span *ngIf="!hidePassword">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-eye" viewBox="0 0 16 16" style="color: #fff;">
                                    <path
                                        d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                    <path
                                        d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                                </svg>
                            </span>
                            <span *ngIf="hidePassword">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-eye-slash" viewBox="0 0 16 16" style="color: #fff;">
                                    <path
                                        d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z" />
                                    <path
                                        d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829" />
                                    <path
                                        d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z" />
                                </svg>
                            </span>
                        </span>
                    </div>
                    <div class="error"
                        *ngIf="signUpForm.get('password')?.touched && signUpForm.get('password')?.invalid">
                        <small class="f-inter" *ngIf="signUpForm.get('password')?.errors?.['required']">Password is
                            required.</small>
                        <small class="f-inter" *ngIf="signUpForm.get('password')?.errors?.['minlength']">
                            Password must be at least 6 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <div class="floating-label-group">
                        <input class="f-inter" id="signup-dob" type="date" formControlName="dob" required>
                        <label class="f-inter" for="signup-dob" class="date-label">Date of Birth</label>
                    </div>
                    <div class="error" *ngIf="signUpForm.get('dob')?.touched && signUpForm.get('dob')?.invalid">
                        <small class="f-inter" *ngIf="signUpForm.get('dob')?.errors?.['required']">Date of birth is
                            required.</small>
                    </div>
                </div>

                <button class="f-inter" type="submit" [disabled]="signUpForm.invalid">Sign Up</button>
            </form>

            <!-- Login Form -->
            <form *ngIf="!isSignUpMode" [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="form-group">
                    <div class="floating-label-group">
                        <input class="f-inter" id="login-email" type="email" formControlName="email" required>
                        <label class="f-inter" for="login-email">Email</label>
                    </div>
                    <div class="error" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
                        <small class="f-inter" *ngIf="loginForm.get('email')?.errors?.['required']">Email is
                            required.</small>
                        <small class="f-inter" *ngIf="loginForm.get('email')?.errors?.['email']">Enter a valid
                            email.</small>
                    </div>
                </div>

                <div class="form-group">
                    <div class="floating-label-group">
                        <input class="f-inter" id="login-password" [type]="!hidePassword ? 'text' : 'password'"
                            formControlName="password" required>
                        <label class="f-inter" for="login-password">Password</label>
                        <span class="toggle-password" (click)="togglePasswordVisibility()">
                            <span *ngIf="!hidePassword">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-eye" viewBox="0 0 16 16" style="color: #fff;">
                                    <path
                                        d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                    <path
                                        d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                                </svg>
                            </span>
                            <span *ngIf="hidePassword">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-eye-slash" viewBox="0 0 16 16" style="color: #fff;">
                                    <path
                                        d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z" />
                                    <path
                                        d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829" />
                                    <path
                                        d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z" />
                                </svg>
                            </span>
                        </span>
                    </div>
                    <div class="error" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
                        <small class="f-inter" *ngIf="loginForm.get('password')?.errors?.['required']">Password is
                            required.</small>
                    </div>
                </div>

                <button class="f-inter" type="submit" [disabled]="loginForm.invalid">Login</button>
                <a href="#" (click)="onForgotPassword()">Forgot Password?</a>
            </form>

            <button class="toggle-btn f-inter" (click)="toggleMode()">
                {{ isSignUpMode ? 'Already have an account? Login' : "Don't have an account? Sign Up" }}
            </button>
        </div>

    </div>

</div>

<div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true" >
    <div class="d-flex">
      <div class="toast-body">
      Hello, world! This is a toast message.
     </div>
      <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>